# Entornos virtuales
venv/
env/
ENV/
.venv/
.ENV/

# Configuración de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py~
*~

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de configuración de entorno
.env
.env.*

# Dependencias
*.egg-info/
*.egg
dist/
build/
*.whl

# Archivos de logs
*.log

# Archivos de caché de librerías de ciencia de datos
*.ipynb_checkpoints
__pycache__/
*.pkl
*.joblib
.cache/
*.dvc
dvc.lock
.dvc/

# Permitir archivos PDF en cualquier lugar
!*.pdf
!*/.pdf/

# Otros
.DS_Store
Thumbs.db

# Configuración de entornos de desarrollo
.idea/
.vscode/