pip
jupyter
ipykernel
numpy
pandas
matplotlib
seaborn
plotly
missingno
scipy
mysql-connector-python
pymongo
sqlalchemy
geopy
folium
scikit-learn
statsmodels
tensorflow
imbalanced-learn
google-cloud-aiplatform
Flask